* {
    font-family: 'Ubuntu', sans-serif;
    background-color: khaki;
}

body {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 10vw 1fr 10vw;
}

img {
    width: 10vw;
    height: auto;
}

.header {
    grid-column: 1;
    grid-column-end: 3;
}

