#portfolio {
    color: #EDBFC6;
    text-align:center;
    font-size: 75px;
}

body {
    background-color: #AF8D86;
}

h2 {
    color: #432E36;
    text-align: center;
    font-size: 60px;
}

figcaption {
    
}

img {
    
}

h3 {
    color: #432E36;
    text-align: center;
    font-size: 60px;
}

p {
    text-align: center;
    font-size: 25px;
    background-color: #EDBFC6;
    color: #432E36;
}

* {
    font-family: 'Rosario', sans-serif;
}

.list {
    font-size: 25px;
    background-color: #EDBFC6;
    color: #432E36;
}

.imgcaption {
    font-size: 20px;
    background-color: #EDBFC6;
    color: #432E36;
}

ol {
    background-color: #EDBFC6;
}

ul {
    background-color: #EDBFC6;
}

#box:checked {
    outline: 3px solid #260C1A;
  }